@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* global.css */
body {
  position: relative;
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/cal.jpg') center/cover no-repeat;
  opacity: 0.8; /* Adjust the opacity here */
  z-index: -1;
  pointer-events: none; /* Ensures that the background image does not interfere with any other elements */
}

* {
  position: relative; /* Ensure all other elements are positioned above the background image */
  z-index: 1;
}




.deactivate{
  color: black;
}

.shadow{
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 1);
  background-color: cornsilk ;
}
